site_name: Python Project Template Documentation
site_url: https://gemmadanks.github.io/python-project-template/
repo_url: https://github.com/gemmadanks/python-project-template
repo_name: python-project-template

theme:
  name: "material"
  palette:
  # Palette toggle for light mode
    - scheme: default
      primary: black
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    logo: simple/rocket

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer

plugins:
  - mkdocstrings:
      default_handler: python
      locale: en
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true      # shows module name as heading
            show_root_full_path: true    # gives full module path
  - search
  - tags

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gemmadanks

nav:
  - Home: index.md
  - Tutorials:
      - Overview: tutorials/index.md
  - How-To:
      - Overview: how-to/index.md
  - Reference: reference/index.md
  - Explanation:
      - Overview: explanation/index.md
  - Architecture:
      - Overview: architecture/index.md
      - ADRs: architecture/adr/index.md
  - Tags: tags.md

extra_javascript:
    - javascript/readthedocs.js
